<h2>Edit Blog</h2>

<body class="vsc-initialized">

  <main class="form-signin w-100 m-auto">

    <form action="/blog/{{blog._id}}/edit" method="post">
    <div class="card" style="background-color: aliceblue;">

      <div class="form-floating">

        <input
          type="title"
          name="title"
          class="form-control"
          placeholder="title"
          value="{{blog.title}}"
        />
        <label for="floatingTitle">Title</label>

      </div>

         <div class="form-floating">

        <input
          type="problemStatement"
          name="problemStatement"
          class="form-control"
          placeholder="problemStatement"
          value="{{blog.problemStatement}}"
        />
        <label for="floatingProblemStatement">Problem Statement</label>

      </div>

     
     <div class="form-floating">
        <input
          type="solution"
          name="solution"
          class="form-control"
          placeholder="solution"
          value="{{blog.solution}}"
        />
        <label for="floatingSolution">Solution</label>

      </div>

      <div class="mb-3">
        <label>Code Snippet:

          <input type="file" class="form-control" placeholder="Code Snippet" id="imageUrl" name="imageUrl" />
        </label>

          <input
            type="text"
            name="existingImage"
            hidden
            value="{{blog.imageUrl}}"
          />
      </div>    

       <div class="form-floating">
        <input
          type="mdnDocs"
          name="mdnDocs"
          class="form-control"
          placeholder="mdnDocs"
          value="{{blog.mdnDocs}}"
        />
        <label for="floatingmdnDocs">Mdn Docs</label>

      </div>

      <fieldset>
        <legend>Choose your blogs's tags:</legend>

        <div>
          <input type="checkbox" id="Arrays" name="tags" value="Arrays" {{#if isArray}}checked{{/if}} />
          <label for="Arrays">Arrays</label>
        </div>

        <div>
          <input type="checkbox" id="Strings" name="tags" value="Strings" {{#if isString}}checked{{/if}}/>
          <label for="Strings">Strings</label>
        </div>
        <div>
          <input type="checkbox" id="Functions" name="tags" value="Functions" {{#if isFunctions}}checked{{/if}}/>
          <label for="Functions">Functions</label>
        </div>
      </fieldset>

      <button type="submit" class="btn btn-primary submitBtn">Save Changes</button>
    </form>

    </div>
  </main>

</body>